/*-----------------------------------------------------------------------------------*/

/*  -  Navbar fixd page
/*-----------------------------------------------------------------------------------*/

.subpage-nav {
  display: block !important;
  position: relative;
}

/*-----------------------------------------------------------------------------------*/

/*  /* Single page */

/*-----------------------------------------------------------------------------------*/

/* main content */

.main-content {
  background: #f7f7f7;
}

.main-content .container-main {
  display: inline-block;
  width: 100%;
}

.main-content .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.container-main .block-main .content-main {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  width: 100%;
}

.img-responsive{
	width: 100%;
	height: auto;
}

.journal-txt h2 a {
  display: block;
  font-size: 32px;
  line-height: 36px;
  margin: 0 0 13px 0;
  font-weight: 600;
  color: #292929;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.journal-txt h2 a:hover {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.post-meta ul li {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  float: none;
}

.content-main .post-meta a {
  color: #a2a2a2;
  margin-left: 5px;
}

.sub-head h3 {
	display: block;
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 13px 0;
	font-weight: 600;
	color: #292929;
}

.skill-list {
	display: block;
	font-size: 18px;
	margin: 0 0 20px 80px;
	font-weight: 500;
	color: #3B362E;
}

.skill-lettering {
	display: block;
	font-size: 18px;
	margin: 0 0 10px 20px;
	font-weight: 500;
	color: #3B362E;
}

.skill-letter-list {
	list-style-type: upper-alpha;
}

.list-none {
	list-style-type: none;
}

.learning-detail h4 {
	padding: 0 0 15px 0;
}

.learning-detail h5 {
	padding: 0 0 15px 0;
}

.btm-pad-15 {
	padding: 0 0 15px 0;
}

.blog-next {
	text-align: right;
	padding: 20px;
}

.blog-previous {
	text-align: left;
	padding: 20px;
}

.blog-next-link {
	font-size: 16px;
	font-weight: 600;
	color: #292929
}

/* Commonts */

.comments {
  background: #fff;
}

.entry-comments h6 {
  margin-right: 10px;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.entry-comments-item {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}

.entry-comments-avatar {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.entry-comments-body {
  padding-left: 86px;
}

.entry-comments-author {
  margin-right: 10px;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.rep {
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: capitalize;
}

.entry-comments span a {
  font-size: 13px;
  color: #999;
}

.entry-comments-reply {
  padding-left: 10%;
}

/* Commonts form */

.cmt {
  background: #fff;
}

blockquote {
  padding: 40px;
  background-color: #f2f2f2;
  margin: 30px 0;
  border: none;
  border-left: 4px solid #b8a07e;
}
