* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #b8a07e;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.t-container {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.t-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #E2C9A6;
  border: 4px solid #997E5A;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.t-left {
  left: 0;
}

/* Place the container to the right */
.t-right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.t-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 18px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: 2px solid #b8a07e;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #b8a07e;
}

/* Add arrows to the right container (pointing left) */
.t-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 18px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #b8a07e;
  border-width: 10px 10px 10px 0;
  border-color: transparent #b8a07e transparent transparent;
}

/* Fix the circle for containers on the right side */
.t-right::after {
  left: -12px;
}

/* The actual content */
.t-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  border: 2px solid #b8a07e;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .t-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .t-container::before {
    left: 60px;
    border: 2px solid #b8a07e;
    border-width: 10px 10px 10px 0;
    border-color: transparent #b8a07e transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .t-left::after, .t-right::after {
    left: 17px;
  }

/* Make all right containers behave like the left ones */
  .t-right {
    left: 0%;
  }
}
